/* CSS declarations go here */
body{
  margin: 0;
  padding: 0;
}

/*
.current-path{
	fill: none;
	stroke: black;
	stroke-width: 3;
}
*/

#svgtest2{
	position: absolute;
	top: 100px;
	left: 0;
}

#menu{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#padddd{
  background: #ffffff;
}

.to_padview .next{
  //background: #ffffff;
}

.to_browseList .next{
  //background: #2ecc71;
}

/* transitions to pad view */
.to_padview .current, .from_padview .current{
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: flipOutLeft .5s both ease-in;
  -moz-transform-origin: 50% 50%;
  -moz-animation: flipOutLeft .5s both ease-in;
  transform-origin: 50% 50%;
  animation: flipOutLeft .5s both ease-in;
}

.to_padview .next, .from_padview .next{
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: flipInRight .5s both ease-out;
  -moz-transform-origin: 50% 50%;
  -moz-animation: flipInRight .5s both ease-out;
  transform-origin: 50% 50%;
  animation: flipInRight .5s both ease-out;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}

/* transitions from pad view */
/*
.from_padview .current{
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: flipOutRight .5s both ease-in;
  -moz-transform-origin: 50% 50%;
  -moz-animation: flipOutRight .5s both ease-in;
  transform-origin: 50% 50%;
  animation: flipOutRight .5s both ease-in;
}

.from_padview .next{
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: flipInLeft .5s both ease-out;
  -moz-transform-origin: 50% 50%;
  -moz-animation: flipInLeft .5s both ease-out;
  transform-origin: 50% 50%;
  animation: flipInLeft .5s both ease-out;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}
*/