/* CSS declarations go here */
body{
  margin: 0;
  padding: 0;
  font-family: "gooddog-new";
}

#pt-main{
  //margin-top: 75px;
}

#home li.copy{
  //font-weight: bold;
  text-transform: uppercase;
  //text-align: justify;
}

.char1, .char2, .char3, .char4, .char5, .char6, .char7{
  //font-size: 72px;
}

.char3{
  left: 200px;
}

.tlt{
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px 140px;
  margin-top: -19px;
  font-size: 93px !important;
  color: #f1c40f;
}

.char1, .char2, .char3. .char4, .char5{
  -webkit-transform-origin: inherit !important;
}

.stuck{
  position: fixed;
  top: 40px;
}

#padtest{
  //margin-top: 20px;
  //position: fixed;
  //top: 0;
  padding: 40px 0 200px;
}

#pad-container{
  position: relative;
  width: 500px;
  height: 500px;
}

#pad-container .question{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 280px;
  height: 240px;
  padding: 130px 110px;
  background: #000;
  opacity: 0.5;
}

#pad-container .question:hover{
  opacity: 0.7;
}

.instruction, .question{
  text-transform: uppercase;
}

dl{
  position: relative;
}

dt{
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
}

dd{
  padding-left: 40px;
  text-transform: uppercase;
  width: 85%;
}

li.copy{
  list-style: none;
}



#bottom{
  width: 100%;
  height: 75px;
  background: #34495e;
  position: fixed;
  bottom: -75px;
  left: 0;
 }

#bottom .bottom-slide ul{
  margin: 0;
  padding: 0;
}

#bottom .bottom-slide li{
  list-style: none;
  display: inline-block;
  font-size: 36px;
  padding: 0 10px;
  line-height: 75px;
  color: #7f8c8d;
}

#bottom #next{
  margin-top: 15px;
}

#bottom .bottom-slide .active{
  color: #fff;
}

#home, #browse, #pad, #transition, #test1{
  width: 100%;
  height: 100%;
}

#home{
  background: #9b59b6;
  color: #fff;
  padding-bottom: 100px;
}

#browse{
  background: #3498db;
  color: #fff;
}

#pad{
}

#test1{
  background: #cc2200;
}

#svgtest2{
	position: absolute;
	top: 100px;
	left: 0;
}

#svgtest{
  background: #8e44ad;
}

#menu{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#padddd{
  background: #ffffff;
}

.user_count{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 15px;
}

.to_padview .next{
  //background: #ffffff;
}

.to_browseList .next{
  //background: #2ecc71;
}

/* transitions to pad view */
.to_padview .current, .from_padview .current{
  -webkit-transform-origin: 50% 50% !important;
  -webkit-animation: flipOutLeft .5s both ease-in !important;
  -moz-transform-origin: 50% 50% !important;
  -moz-animation: flipOutLeft .5s both ease-in !important;
  transform-origin: 50% 50% !important;
  animation: flipOutLeft .5s both ease-in !important;
}

.to_padview .next, .from_padview .next{
  -webkit-transform-origin: 50% 50% !important;
  -webkit-animation: flipInRight .5s both ease-out !important;
  -moz-transform-origin: 50% 50% !important;
  -moz-animation: flipInRight .5s both ease-out !important;
  transform-origin: 50% 50% !important;
  animation: flipInRight .5s both ease-out !important;
  -webkit-animation-delay: .5s !important;
  -moz-animation-delay: .5s !important;
  animation-delay: .5s !important;
}

/* transitions from pad view */
/*
.from_padview .current{
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: flipOutRight .5s both ease-in;
  -moz-transform-origin: 50% 50%;
  -moz-animation: flipOutRight .5s both ease-in;
  transform-origin: 50% 50%;
  animation: flipOutRight .5s both ease-in;
}

.from_padview .next{
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: flipInLeft .5s both ease-out;
  -moz-transform-origin: 50% 50%;
  -moz-animation: flipInLeft .5s both ease-out;
  transform-origin: 50% 50%;
  animation: flipInLeft .5s both ease-out;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}

.transitioning .current, .transitioning .next{
  visibility: visible;
}
*/

/* transitions to browseList */
.to_homepage .current,
.to_browseList .current,
.to_flat .current,
.to_test1 .current,
.to_step2 .current,
.to_step3 .current,
.to_step4 .current{
  -webkit-animation: moveToLeft .6s ease both;
  -moz-animation: moveToLeft .6s ease both;
  animation: moveToLeft .6s ease both;
}

.to_homepage .next,
.to_browseList .next,
.to_flat .next,
.to_test1 .next,
.to_step2 .next,
.to_step3 .next,
.to_step4 .next{
  -webkit-animation: moveFromRight .6s ease both;
  -moz-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}