<template name="browseList">
	<div id='browse'>
	List of all new users that signed up
	<br/>
	{{count}}
	<br/>
	{{#each lists}}
		{{email}}<br/>
		{{> path}}
		<br/>
		-------------<br/>
	{{/each}}
	</div>
</template>

<template name="browseList1">
	<div id='browse'>
		<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra dui ut nisi consectetur.</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra dui ut nisi consectetur, et volutpat velit adipiscing. Donec tristique arcu vel libero mollis, ac tincidunt libero vulputate. Integer in eros et metus gravida tristique eget vitae lorem. Fusce tincidunt ut lorem ut vehicula. Integer quam enim, tincidunt at dictum non, semper at lorem. Fusce congue hendrerit aliquet. Suspendisse elementum velit eu cursus pulvinar. Curabitur ut consequat lorem, at accumsan erat. Vestibulum sed feugiat nibh, ut ullamcorper diam. Phasellus et nibh urna. Maecenas laoreet ultricies ultrices. Integer imperdiet neque id tincidunt eleifend. Donec tincidunt massa id euismod tempus. Suspendisse nec purus diam.
		</p>
		<p>
		Mauris lobortis eleifend elit, non posuere sapien semper et. Vestibulum dapibus eu ante eget malesuada. Quisque quis tincidunt quam. Sed eu dolor eu velit pellentesque ullamcorper non a justo. Phasellus vestibulum metus id orci vulputate, ut bibendum eros luctus. Nam augue dui, aliquam a magna eu, iaculis vestibulum tortor. Aliquam erat volutpat. Curabitur ut turpis volutpat, fringilla erat sed, egestas sem. Sed consectetur dolor id nisi suscipit elementum. Quisque sit amet mollis magna, placerat consectetur ligula. Nulla dignissim eros eget purus condimentum accumsan eget ut augue.
		</p>
	</div>
</template>

<template name='path'>
	<svg width='500' height='500' class="yo"></svg>
</template>