<template name="homepage">
	<div id="home">
	{{> padtest}}
	{{> portrait}}
	{{> email}}
	</div>
</template>

<template name="padtest">
	{{#if notdone}}
    <a href="{{step2Path}}">Next Step</a>
		<div id="test"></div>
		<canvas id="canvastest" width="500px" height="500px" style='display:none'></canvas>
    <h1>Create real-time lectures.  Build a following. Tutor the world. The lightweight lecture-building platform and marketplace that works on your tablet</h1>
    <h2>Create. Share. Earn. Jot.</h2>
    <h3>Start jotting your profile and be one of the first beta jotters</h3>

    <br/>

    <h2>What do you look like?</h2>
      <span class='ss-icon' style="font-size: 3em;">
         <a href='#'>Play</a>
         <a href='#'>microphone</a>
         <a href='#'>micdisabled</a>
         <a href='#'>gem</a>
      </span>
    <br/>
	{{/if}}
</template>

<template name='portrait'>
  {{#if done}}
    <p><This is the portrait view/p>
    <a href="{{padviewPath}}">Browse</a>
    <div id='svgtest2'></div>
  {{/if}}
</template>

<template name="email">
  {{#if done}}
    <p>Email sent! Thank you for your interest in us.</p>
  {{else}}
    <label for="email">Enter your email address to receive news about us</label><br/>
    <input type="text" id="email" size="45" />
    <input type="button" id="btn" value="Submit" />
    <br/>
    {{#each paths}}
		{{path_string}}
		<br/>
		--------------------
		<br/>
    {{/each}}
  {{/if}}
</template>