<template name="homepage">
	<div id="home">
    <div class="container">
      {{> padtest}}
      {{ portrait}}
      {{ email}}
    </div>
  </div>
</template>

<template name="padtest">
	{{#if notdone}}

  <div class='row'>
    <div class='span12'>
      <br/>
      <br/>
      <br/>
      <br/>
       <img class='centerHorizontal' src='images/jotalog-logo-triangles2.png'/>
    </div>
    <div class="span6 offset3">
      <!--<h1 class="fancy_title">Jotalog</h1>
      <img src='images/jotalog-logo2.png'/>
      <img src='images/jotalog-logo3.png'/>
      <img src='images/jotalog-logo4.png'/>
      <img src='images/jotalog-logo5.png'/>
      <img src='images/jotalog-logo6.png'/>
      <img src='images/jotalog-logo7.png'/>-->
      <br/>
      <!--<img src='images/jotalog-logo8.png'/>
      <hr/>-->
      <div class='blurb' style="text-transform: uppercase; padding: 180px 20px 0px; width: 420px;">The lightweight lecture-building platform and marketplace that works on your</div>
      <div class="tlt tk-gooddog-new">
          <ul class="texts">
              <li>Tablet</li>
              <li>Mobile</li>
              <li>Desktop</li>
          </ul>
      </div>

    </div>
  </div>

  <div id='bullets' class='row'>
    <div class="span6 offset3">
      <div id='padtest'>
        <dl>
          <dt><i class="ss-icon">clock</i></dt>
          <dd class='copy tk-gooddog-new'>Create realtime lectures.</dd>
        </dl>

        <dl>
          <dt><i class="ss-icon">glowingstar</i></dt>
          <dd class='copy tk-gooddog-new'>Build a following.</dd>
        </dl>

        <dl>
          <dt><i class="ss-icon">earth</i></dt>
          <dd class='copy tk-gooddog-new'>Tutor the world.</dd>
        </dl>
      </div>
    </div>
  </div>

  <div id="start-jotting" class='row'>
    <div class="span6 offset3">
      <p class='instruction tk-gooddog-new'>Start jotting your profile and be one of the first beta jotters.</p>
    </div>
  </div>

  <div id="pad" class="row">
    <div class="span6 offset3">
      <br/><br/>
      <br/>
      <div id='pad-container'>
        <div class='pad'>
          <p class='question tk-gooddog-new'>What do you look like?</p>
          <div id="test"></div>
        </div>
      </div>
      <canvas id="canvastest" width="500px" height="500px" style='display:none'></canvas>
      <br/>
      <br/>
      <p class='slogan tk-gooddog-new'>Create. Share. Earn. Jot.</p>
    </div>
  </div>
	{{/if}}
</template>

<template name='portrait'>
  {{#if done}}
    <p><This is the portrait view/p>
    <a href="{{padviewPath}}">Browse</a>
    <div id='svgtest2'></div>
  {{/if}}
</template>

<template name="email">
  {{#if done}}
    <p>Email sent! Thank you for your interest in us.</p>
  {{else}}
    <label for="email">Enter your email address to receive news about us</label><br/>
    <input type="text" id="email" size="45" />
    <input type="button" id="btn" value="Submit" />
    <br/>
    {{#each paths}}
		{{path_string}}
		<br/>
		--------------------
		<br/>
    {{/each}}
  {{/if}}
</template>