<template name='step2'>
	<div class="container"><div class='row'><div class='span6 offset3'>
		<a href="{{step3Path}}">Next Step</a>
		<h2 class='mic'>Got a mic? Got a computer/tablet/phone/gizmodad?</h2>
		<h2>Ready, set, jot.</h2>
		<h4>We're doing the heavy work and putting the best elements of high-end illustration and rendering teach right in your hands</h4>
		<br/>
		<h2 class='instruction'>Draw your own gesture, easier than a password, used everytime you log back in</h2>
		<div id='myHeade1'></div>
		<div id="signpad"></div>
		<h3>Think of it as your digital signature.  Keep it secret!</h3>
		<a class='goto3 btn btn-large btn-primary'>Just a button to activate the next step</a>
	</div></div></div>
</template>

<template name='step3'>
	<div class="container"><div class='row'><div class='span12'>
		<a href="{{step4Path}}">Next Step</a>
		<h2>This is Step-3</h2>
		<h2>No more tutoring blind dates!</h2>
		<h2>The most transparent and interactive compendium of recorded and live knowledge yet.</h2>
		<h3>What can you share with the rest of the world?</h3>
		<input type="text" id="share" style="width: 460px"/>
		<h3>What's something you're trying to learn?</h3>
		<input type="text" id="learn" style="width: 460px"/>
	</div></div></div>
</template>

<template name='step4'>
	<div class="container"><div class='row'><div class='span12'>
		<h2>This is Step-4</h2>
		<h2>Showcase your specialities, reach a global audience and create a name for yourself.</h2>
		<h2>Earn money teaching on a live, open marketplace</h2>
		 <label for="email">Enter your email address to receive news about us</label><br/>
	    <input type="text" id="email" size="45" />
	    <input type="button" id="btn" value="Submit" />
  </div></div></div>
</template>