<template name='step2'>
	<div class='row'><div class='small-7 small-centered columns'>
		<a href="{{step3Path}}">Next Step</a>
		<h2 class='mic'>Got a mic? Got a computer/tablet/phone/gizmodad?</h2>
		<h2>Ready, set, jot.</h2>
		<h4 class='blurb2-1'>WE'RE DOING THE HEAVY WORK AND PUTTING THE BEST ELEMENTS OF HIGH-END ILLUSTRATION AND RENDERING TEACH RIGHT IN YOUR HANDS</h4>
		<br/>
		<h2 class='instruction'>Draw your own gesture, easier than a password, used everytime you log back in</h2>
		<div id='myHeader'></div>
		<div id="signpad"></div>
		<h3>Think of it as your digital signature.  Keep it secret!</h3>
		<a class='goto3 btn btn-large btn-primary'>Just a button to activate the next step</a>
		<br/><br/><br/><br/><br/><br/><br/><br/>
	</div></div>
</template>

<template name='step3'>
	<div class='row'><div class='small-7 small-centered columns'>
		<a href="{{step4Path}}">Next Step</a>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<h2 class="blurb3-1">NO MORE TUTORING BLIND DATES!</h2>
		<h2 class="blurb3-2">THE MOST TRANSPARENT AND INTERACTIVE COMPENDIUM OF RECORDED AND LIVE KNOWLEDGE YET.</h2>
		<div class="question-1-container">
			<h3 class='question-1'>WHAT CAN YOU SHARE WITH THE REST OF THE WORLD?</h3>
			<div class="input-container">
				<i class="ss-icon input-ph">files</i><input type="text" id="share"/>
			</div>
		</div>
		<div class='question-2-container'>
			<h3 class='question-2'>WHAT'S SOMETHING YOU'RE TRYING TO LEARN?</h3>
			<div class="input-container">
				<i class="ss-icon input-ph">notebook</i><input type="text" id="learn"/>
			</div>
		</div>
	</div></div>
</template>

<template name='step4'>
	<div class="container"><div class='row'><div class='span12'>
		<h2>This is Step-4</h2>
		<h2>SHOWCASE YOUR SPECIALITIES, REACH A GLOBAL AUDIENCE AND CREATE A NAME FOR YOURSELF.</h2>
		<h2>Earn money teaching on a live, open marketplace</h2>
		 <label for="email">Enter your email address to receive news about us</label><br/>
	    <input type="text" id="email" size="45" />
	    <input type="button" id="btn" value="Submit" />
  </div></div></div>
</template>